In [1]:
a=10

In [4]:
if a<15:
    print("ten")

ten

In [6]:
a<15

True

we are using intentation instead of curly brasis

In [7]:
if a<15:
    print("my name is sudhanshu")

my name is sudhanshu

In [8]:
if a<15:

SyntaxError: incomplete input (3683639702.py, line 1)

In [9]:
if a<15:
    pass

In [10]:
if a<15:
    print("my name is sudh")

my name is sudh

In [12]:
if 24<15:
    print("sudh")

In [13]:
24<15

False

In [14]:
if 10<3:
    print("less")
else:
    print("wrong")

wrong

In [16]:
if 5<10:
    print("less")
else:
    print("wrong")

less

In [17]:
if 5<10:
    print("less")
else:
print("wrong")

IndentationError: expected an indented block after 'else' statement on line 3 (3415455995.py, line 4)

In [19]:
income=int(input())
if income<50:
    print("phone")
elif income <70:
    print("car")
elif income<90:
    print("house")
else:
    print("nothing")

60
car

In [3]:
total_price=int(input())
if total_price>20000:
    discount=total_price*.20
    print("discount",discount)
elif total_price<=7000:
    discount=total_price*.5
    print("discount",discount)
else:
    print("no discount")

30000
discount 6000.0

In [4]:
coup='sudhanshu5'

In [6]:
coup=input()
if coup=="sudhanshu5":
    print("discount 5 %")
    paid=7080-7080*.05
    print("u need to pay",paid)
else:
    print("coupon is invalid")

sudhanshu5
discount 5 %
u need to pay 6726.0

In [9]:
studytime=int(input())
if studytime<1:
    print("it will take 8 to 9 month")
elif studytime<4 & studytime >1:
    print("6 month")
elif studytime>4:
    print("3month")
else:
    print("difficult")

8
3month

In [10]:
a=9
if a==9:print("nine")

nine

In [15]:
s=input()
course=input()
if s=="oneneuron":
    if course=="DSA":
        print("available uder oneneuron")
    elif course=="blockchain":
        print("raise Demand")
    elif course=="FSDS":
        print("available")
    else:
        print("not available")
elif s=="oneneuronrequest":
    print("raise demand")

oneneuron
FSDS
available

# while loop

In [16]:
l=[1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [17]:
s="sudh"

In [18]:
for i in s:
    print(i)

s
u
d
h

In [19]:
t=(1,2,3,4,5,6,7,7)

In [20]:
for i in t:
    print(i)

1
2
3
4
5
6
7
7

In [22]:
l=[1,5,4.6,4+5j,"sudh"]

In [25]:
for i in l:
    print(type(i),"type of",i)

<class 'int'> type of 1
<class 'int'> type of 5
<class 'float'> type of 4.6
<class 'complex'> type of (4+5j)
<class 'str'> type of sudh

In [26]:
l=[1,2,3,4]

In [27]:
for i in l:
    print(i+2)

3
4
5
6

In [28]:
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

3
4
5
6

In [29]:
l1

[3, 4, 5, 6]

In [30]:
l1

[3, 4, 5, 6]

In [31]:
l=[1,2,3.4,"sudh",6+7j,[4,5]]

In [33]:
for i in l:
    if type(i)==int:
        print(i,"is integer")
    else:
        print(i,"is not integer")

1 is integer
2 is integer
3.4 is not integer
sudh is not integer
(6+7j) is not integer
[4, 5] is not integer

we have for else only in python

In [34]:
l=[2,45,78,12,"sudh",6+7j,[56,78,"fsds"]]

q1.print the index of all the element
q2.try to extract all the list of char if element is string
q3.return in list all the square of integers

In [41]:
for i in l:
    print("index of",i ,"is",l.index(i))

index of 2 is 0
index of 45 is 1
index of 78 is 2
index of 12 is 3
index of sudh is 4
index of (6+7j) is 5
index of [56, 78, 'fsds'] is 6

In [42]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i*i)

In [43]:
l1

[4, 2025, 6084, 144]

In [44]:
l

[2, 45, 78, 12, 'sudh', (6+7j), [56, 78, 'fsds']]

In [45]:
l1=[]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                print(j)

fsds

#index function ll not work if we have same value multiple time

In [48]:
range(0,len(l))

range(0, 7)

In [49]:
for i in range(len(l)):
    print("index",i,"for an element",l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element sudh
index 5 for an element (6+7j)
index 6 for an element [56, 78, 'fsds']

In [51]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'sudh')
(5, (6+7j))
(6, [56, 78, 'fsds'])

tuple of index and element

In [52]:
for i,j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 sudh
5 (6+7j)
6 [56, 78, 'fsds']

In [55]:
l1=[]
for i in l:
    if type(i)==str:
        for j in range(len(i)):
            l1.append(i[j])

In [56]:
l1

['s', 'u', 'd', 'h']